body
{
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#display
{
    height: 70px;
    max-width: 100%;
    border: none;
    background-color: #170052;
    font-size: 3rem;
    text-align: right;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-botton: 10px;
}

.functions
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
}

.calculator
{
    width: 100%;
    height: 100%;
    background-color: #04001f;
    text-align: center;
    max-width: 500px;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

button
{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    border: none;
    color: white;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 16, 103, 0.65);
}

button:hover
{
    background-color: rgba(0, 16, 103, 0.8);
}

button:active
{
    background-color: rgba(0, 16, 103, 1.00);
}

.operators
{
    background-color: rgba(67, 55, 148, 0.65);
}

.operators:hover
{
    background-color: rgba(67, 55, 148, 0.80);
}

.operators:active
{
    background-color: rgba(67, 55, 148, 1.00)
}

@media screen and (max-width: 425px)
{
    #display
    {
        font-size: 2.25rem;
    }
    button
    {
        padding: 10px;
        min-height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px)
{
    #display
    {
        font-size: 2rem;
    }
    button
    {
        padding: 8px;
        min-height: 45px;
    }
}
@media screen and (max-width: 320px)
{
    #display
    {
        font-size: 1.75rem;
    }
    button
    {
        padding: 6px;
        min-height: 40px;
    }
}